<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicioPolicial" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52429/ServicioPolicial.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioPolicial"
                contract="ServicioPolicialWCF.IServicioPolicial" name="BasicHttpBinding_IServicioPolicial" />
        </client>
    </system.serviceModel>
</configuration>