<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServicePolicial" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/ServicePolicial.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IServicePolicial" contract="ServicePolicial.IServicePolicial"
                name="BasicHttpBinding_IServicePolicial" />
        </client>
    </system.serviceModel>
</configuration>